<?xml version="1.0" encoding="UTF-8"?>

<action id="/hello.do" class="org.huyue.coffee.controller.HelloAction" method="prepare">
</action>

<action id="/hello.do" class="org.huyue.coffee.controller.HelloAction" method="confirm">
</action>

<action id="/hello.do" class="org.huyue.coffee.controller.HelloAction" method="submit">
</action>