<?xml version="1.0" encoding="UTF-8"?>
<actions>
	<action id="/hello.do" class="org.huyue.coffee.controller.HelloAction" method="hello"></action>
	<action id="/say.do" class="org.huyue.coffee.controller.HelloAction" method="say"></action>
	<action id="/done.do" class="org.huyue.coffee.controller.HelloAction" method="done"></action>
</actions>
